

.dialog {
  position: fixed;
  top: 1.17em;
  left: 1em;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid $color_main;
  background-color:$color_white;
  z-index:1;
}
h2 {
  font-size:1.25em;
}
h3 {
  margin-bottom:0.5em;
  display: inline-block;
}

table {
  width:100%;
  border-spacing: 0;
  border-collapse: collapse;
}

tr, td {
  height : 100%;
}

.filter_list {
  display:flex;
  padding-top:0.25em;

  > :first-child {
    flex-grow:1;
    width:0;
  }

  > [type="submit"] {
    margin-left:0.125em;
  }
}
.footer {
  text-align:right;
  padding: 0.5em 0;
  margin-top:1em;

  input[type="submit"],
  a {
    padding: 0.5em 1em;
  }
}

.add_item {
  margin-top:0.5em;
  display: block;
  text-align: center;
  cursor: pointer;

  > b {
    font-size: small;
  }
}

.button {
	border-width:1px;
  border-style:solid;
  display:inline-block;
	box-sizing: border-box;
	color:$color_white;
	border-color:$color_black;
  cursor: pointer;
  font-size:1em;



  &:hover {
		color:$color_black;
  }

	&.remove,
	&.add {
    height: 1.5em;
    margin:0.25em;
		border:none;
		background-size:contain;
		background-repeat:no-repeat;
		background-position:50%;
		background-color: transparent;
    outline:none;
	}


	&.remove {
		background-image:url('~assets/img/remove.png');

		&:hover {
			background-image:url('~assets/img/remove_hover.png');
		}
	}
	&.add {
    background-image: url('~assets/img/add.png');

		&:hover {
			background-image:url('~assets/img/add_hover.png');
		}
	}
	&.red {
		background-color:$color_main;
		border-color:$color_main;
		color:$color_white;

		&:hover {
			background-color:white;
			border-color: $color_main;
			color:$color_main;
		}
	}
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
.logo {
  display:inline-block;
  padding:0.5em;
  box-sizing:border-box;
}
.content {
  padding:0.5em;
  box-sizing:border-box;
}

.navi {
	position:sticky;
	top:0;
	box-sizing:border-box;
	background-color:white;
	height:3.5em;


	>.list {
		border-bottom:1px solid $color_main;

		a {
			text-decoration:none;
			color: $color_main;
			background-color: $color_white;
			transition: color 0.5s, background-color 0.5s;

			&:hover {
				background-color: $color_main;
				color: $color_white;
			}
		}
	}

	.logo {
		height:3.5em;
		position:fixed;
		top:0;
		left:0;

		> a {
			background-color: $color_white !important;
			padding:0.5em 1em;
			box-sizing:border-box;
			border-top:0 !important;

			> img {
				height: 100%;
			}
		}
	}
}
